h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Arcamajora3, sans-serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  background-image: url('../images/Pattern.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  height: 480px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.cta-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  height: 300px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .6);
}

.btn-bg {
  display: block;
  width: 410px;
  height: 150px;
  margin-right: -30px;
  margin-bottom: 30px;
  border-radius: 14px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#62b6ff), to(#7857fb));
  background-image: linear-gradient(90deg, #62b6ff, #7857fb);
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
}

.cta-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 410px;
  height: 80px;
  margin-top: 30px;
  margin-left: -110px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: #000;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  text-decoration: none;
}

.cta-btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .15);
  -webkit-transform: scale(1.01) translate(0px, -2px);
  -ms-transform: scale(1.01) translate(0px, -2px);
  transform: scale(1.01) translate(0px, -2px);
}

.text-block {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.cta-text-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 680px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cta-text {
  width: 400px;
  height: 90px;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0px;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  font-family: Comfortaa, sans-serif;
}

.text-span-2 {
  font-family: Comfortaa, sans-serif;
  color: #7857fb;
}

.text-span-3 {
  font-family: Comfortaa, sans-serif;
  color: #7857fb;
  font-weight: 700;
}

.btn-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-btn-text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}

.image {
  margin-right: 50px;
}

.wrap-footer {
  display: block;
  width: 1060px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.test-standard {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.5px;
}

.codechecks-text-standard {
  font-family: Comfortaa, sans-serif;
  color: #7857fb;
}

.text-span-4 {
  font-family: Comfortaa, sans-serif;
  color: #7857fb;
  font-weight: 700;
}

.column {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.columns {
  margin-top: 64px;
  margin-bottom: 64px;
}

.heading-2 {
  margin-top: 18px;
  margin-bottom: 44px;
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-decoration: none;
}

.footer-link:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.more-gh-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 184px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo-footer {
  margin-bottom: 74px;
}

.codechecks-text-standard-bold {
  font-family: Comfortaa, sans-serif;
  color: #7857fb;
  font-weight: 700;
}

.body {
  display: block;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fcfcfc;
}

.how-works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  margin-top: 64px;
  margin-bottom: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 660px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrap-tabs {
  width: 1060px;
}

.wrap-how-works {
  width: 1060px;
  margin-top: 21px;
}

.pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1030px;
  margin-top: 40px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrap-pricing {
  width: 1060px;
}

.wrap-features {
  width: 1060px;
}

.code-reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 128px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.code-reviews-text {
  width: 480px;
  height: auto;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  margin-left: -28px;
}

.open-source {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 112px;
  margin-bottom: 128px;
}

.powerful-api {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 112px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  padding-bottom: 30px;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 880px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.highlighted {
  color: #7857fb;
  font-weight: 500;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.image-3 {
  margin-top: 0px;
}

.wrap-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  margin-top: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  height: auto;
  margin-right: 50px;
  padding: 10px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.link-logo {
  margin-right: 50px;
  padding: 10px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.link-logo:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-hero {
  width: 1060px;
  margin-top: 100px;
}

.hero-title {
  width: 600px;
  margin-right: -180px;
  margin-left: 0px;
  font-family: Arcamajora3, sans-serif;
  font-size: 64px;
  line-height: 100px;
}

.hero-text {
  width: 500px;
  height: 90px;
  margin-top: 30px;
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.5px;
}

.gh-hero-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 323px;
  height: 70px;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6c8afd), to(#7857fb));
  background-image: linear-gradient(90deg, #6c8afd, #7857fb);
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
  -webkit-transition: opacity 200ms ease, box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: opacity 200ms ease, box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: opacity 200ms ease, box-shadow 300ms ease, transform 400ms ease;
  transition: opacity 200ms ease, box-shadow 300ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  text-decoration: none;
}

.gh-hero-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#6c8afd), to(#7857fb));
  background-image: linear-gradient(90deg, #6c8afd, #7857fb);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .15);
  -webkit-transform: scale(1.01) translate(0px, -2px);
  -ms-transform: scale(1.01) translate(0px, -2px);
  transform: scale(1.01) translate(0px, -2px);
}

.hero-btn-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-btn-text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}

.gh-logo-hero-btn {
  margin-right: 30px;
}

.basic-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.enterprise-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: #f7f7f7;
  box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, .1);
}

.enterprise-pricing-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 272px;
  height: 60px;
  margin-right: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #5872fb;
  border-radius: 14px;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
  -webkit-transition: background-color 300ms ease, -webkit-transform 400ms ease;
  transition: background-color 300ms ease, -webkit-transform 400ms ease;
  transition: background-color 300ms ease, transform 400ms ease;
  transition: background-color 300ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #5872fb;
  text-decoration: none;
}

.enterprise-pricing-btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-transform: scale(1.01) translate(0px, -2px);
  -ms-transform: scale(1.01) translate(0px, -2px);
  transform: scale(1.01) translate(0px, -2px);
}

.pricing-btn-negative {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.pricing-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 40px;
  margin-left: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #5872fb;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text-enterprise {
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0px;
}

.tabs-menu {
  z-index: 9000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6998fd), to(#7857fb));
  background-image: linear-gradient(90deg, #6998fd, #7857fb);
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
}

.tab-pane-1 {
  margin-right: 15px;
  margin-left: 15px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #f8f8f8;
}

.check-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 55px;
  min-height: 32px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.check-div-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.check-div-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-text-standard {
  width: 690px;
  height: auto;
  margin-top: 0px;
  margin-left: 24px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 0px;
}

.divider-off {
  width: 1px;
  height: 26px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  background-color: hsla(248.12903225806454, 0.00%, 81.33%, 1.00);
}

.checks-div {
  margin: 0px 0px 32px;
  padding: 32px 32px 11px 40px;
  border-radius: 0px 0px 14px 14px;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
}

.divider-on {
  width: 1.4px;
  height: 26px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  background-color: #7661fc;
}

.tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 235px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
}

.tab:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.tab.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 235px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
  color: #000;
}

.tab.w--current:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.tab-header {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.pro-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 332px;
  height: 488px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
  color: #000;
}

.pricing-title-basic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #5872fb;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #3a3a3a;
  font-size: 48px;
  font-weight: 700;
}

.text-span-5 {
  margin-top: 24px;
  margin-left: 10px;
  color: #a8a8a8;
  font-size: 18px;
  font-weight: 400;
}

.pricing-text {
  width: 252px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 280%;
}

.free-pricing-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 272px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #5872fb;
  border-radius: 14px;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #5872fb;
  text-decoration: none;
}

.free-pricing-btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-transform: scale(1.01) translate(0px, -2px);
  -ms-transform: scale(1.01) translate(0px, -2px);
  transform: scale(1.01) translate(0px, -2px);
}

.pricing-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-upper {
  margin-top: 35px;
}

.essential-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 332px;
  height: 488px;
  margin-right: 32px;
  margin-left: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, right top, from(#5a71fb), to(#7758fb));
  background-image: linear-gradient(90deg, #5a71fb, #7758fb);
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
  color: #000;
}

.free-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 332px;
  height: 488px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
  color: #000;
}

.pricing-text-whote {
  width: 252px;
  font-family: Montserrat, sans-serif;
  color: #eee;
  font-size: 15px;
  line-height: 280%;
}

.text-span-6 {
  margin-top: 24px;
  margin-left: 10px;
  color: #eee;
  font-size: 18px;
  font-weight: 400;
}

.price-white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.pricing-title-basic-white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: hsla(230.42944785276075, 0.00%, 100.00%, 1.00);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.essential-pricing-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 272px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px none #5872fb;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#f7f7f7));
  background-image: linear-gradient(90deg, #fff, #f7f7f7);
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #5872fb;
  text-decoration: none;
}

.essential-pricing-btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-transform: scale(1.01) translate(0px, -2px);
  -ms-transform: scale(1.01) translate(0px, -2px);
  transform: scale(1.01) translate(0px, -2px);
}

.pricing-btn-essential {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.pro-pricing-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 272px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px none #5872fb;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5872fb), to(#7857fb));
  background-image: linear-gradient(90deg, #5872fb, #7857fb);
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease;
  transition: box-shadow 300ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #5872fb;
  text-decoration: none;
}

.pro-pricing-btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-transform: scale(1.01) translate(0px, -2px);
  -ms-transform: scale(1.01) translate(0px, -2px);
  transform: scale(1.01) translate(0px, -2px);
}

.pricing-btn-pro {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.hero-image-bg {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -30px;
  margin-right: -26px;
  margin-left: 140px;
}

.image-4 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: auto;
  min-height: 0px;
  margin-top: 162px;
  margin-left: 611px;
  padding-left: 0px;
}

.next-repo {
  font-family: Montserrat, sans-serif;
  color: #5872fb;
  font-size: 15px;
  font-weight: 400;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.more-gh-text {
  margin-top: 18px;
  margin-right: 6px;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0px;
  text-transform: none;
}

.upper-right-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gh-footer {
  margin-left: 2px;
}

.test-standard-footer {
  width: 980px;
  height: auto;
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 0px;
}

.more-gh-text-2 {
  margin-top: 18px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.link {
  text-decoration: none;
}

.footer-link-group-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-decoration: none;
}

.image-5 {
  padding-right: 10px;
  padding-left: 10px;
}

.pop-up {
  position: fixed;
  z-index: 999999;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.column-35 {
  padding-left: 0px;
}

.zostaw-email {
  max-width: 440px;
  min-height: 40px;
  padding: 9px 20px;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  font-family: Montserrat, sans-serif;
  color: #ebebeb;
}

.zostaw-email:focus {
  border-color: #5748c5;
  color: #5748c5;
}

.text-block-26 {
  text-align: center;
}

.row-5 {
  border-radius: 30px;
}

.form-ebook {
  width: 800px;
  height: auto;
  min-height: 100px;
  margin: 90px 5px 40px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 11px 11px 50px 5px rgba(32, 25, 58, .19);
}

.column-31 {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #000;
}

.heading-form {
  margin-top: 5px;
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #20193a;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.button-wyslij {
  height: 40px;
  min-width: 110px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid #5748c5;
  border-radius: 20px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #5748c5;
  font-weight: 600;
}

.button-wyslij:hover {
  background-color: #5748c5;
  color: #fff;
}

.button-wyslij:focus {
  background-color: #5748c5;
  color: #fff;
}

.link-regulamin-ebook {
  color: #5748c5;
  text-decoration: none;
}

.link-regulamin-ebook:hover {
  text-decoration: none;
}

.link-regulamin-ebook:active {
  color: #5748c5;
  text-decoration: none;
}

.link-regulamin-ebook:focus {
  color: #5748c5;
}

.link-regulamin-ebook:visited {
  color: #5748c5;
}

.text-block-25 {
  font-family: Montserrat, sans-serif;
  color: #7c7e80;
  font-size: 13px;
  text-align: center;
}

.sign-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 300px;
  padding: 30px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .15);
}

.beta-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  margin-bottom: 15px;
}

.text-field {
  width: 484px;
  height: 60px;
  max-width: 500px;
  min-width: 400px;
  padding-left: 32px;
  border: 2px solid #000;
  border-radius: 14px;
}

.text-field::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.text-field:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.text-field::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.text-field::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.submit-button {
  width: 200px;
  height: 60px;
  margin-left: 16px;
  border-radius: 14px;
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 1.00);
  background-image: -webkit-gradient(linear, left top, right top, from(#6c8afd), to(#7857fb));
  background-image: linear-gradient(90deg, #6c8afd, #7857fb);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.pop-up-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.close-pop-up {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 30px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-text-div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 680px;
  margin-bottom: 65px;
  margin-left: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-27 {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.error-message {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.form-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.test-standard-sefl {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 0.5px;
}

.open-source-reverse {
  display: none;
  margin-top: 112px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.code-reviews-reverse {
  display: none;
  margin-top: 112px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

html.w-mod-js *[data-ix="pop-up-interactions"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

@media (max-width: 991px) {
  .cta {
    margin-top: 64px;
  }
  .wrap-footer {
    width: 100%;
  }
  .heading-2 {
    margin-bottom: 24px;
  }
  .more-gh-div {
    height: 64px;
    margin-top: 24px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block {
    width: 100%;
  }
  .wrap-tools {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .how-works {
    display: none;
  }
  .tabs {
    margin-bottom: 20px;
  }
  .wrap-tabs {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrap-how-works {
    display: block;
  }
  .pricing {
    height: auto;
  }
  .wrap-features {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .code-reviews {
    display: none;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .code-reviews-text {
    width: 100%;
  }
  .column-2 {
    margin-top: 30px;
    padding-left: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-2 {
    margin-left: -50px;
  }
  .open-source {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .powerful-api {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrap-menu {
    width: 100%;
  }
  .wrap-hero {
    width: 100%;
    margin-left: 0px;
    padding-right: 11px;
    padding-left: 10px;
  }
  .gh-hero-btn {
    position: static;
  }
  .basic-pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .enterprise-pricing {
    margin-top: -16px;
    padding-top: 0px;
  }
  .tabs-text-standard {
    width: 400px;
  }
  .tab-header {
    text-align: center;
  }
  .essential-pricing {
    margin-bottom: 16px;
  }
  .free-pricing {
    margin-bottom: 16px;
  }
  .button-wyslij {
    margin-bottom: 10px;
  }
  .icon {
    height: auto;
  }
  .column-36 {
    display: none;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    padding-right: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .column-37 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-6 {
    margin-top: 32px;
  }
  .open-source-reverse {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .code-reviews-reverse {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column-38 {
    margin-top: 16px;
  }
  .column-39 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .check-div-right {
    display: none;
  }
  .tabs-text-standard {
    width: 100%;
  }
  .tab {
    width: 120px;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .tab.w--current {
    width: 20%;
  }
  .tab-header {
    font-size: 12px;
  }
  .column-35 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .zostaw-email {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .form-ebook {
    margin-right: 3%;
    margin-left: 3%;
  }
  .column-31 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .text-block-25 {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  .wrap {
    width: 100%;
  }
  .cta-box {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .btn-bg {
    width: 210px;
    margin-right: 30px;
    margin-bottom: -30px;
  }
  .cta-btn {
    margin-top: 0px;
    margin-left: 0px;
  }
  .cta-text {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
  }
  .heading {
    margin-top: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  .test-standard {
    margin-top: 10px;
    padding-top: 10px;
  }
  .more-gh-div {
    padding-top: 0px;
  }
  .wrap-tools {
    margin-top: 99px;
    padding-top: 50px;
  }
  .wrap-pricing {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .column-2 {
    margin-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  .image-2 {
    margin-left: 20px;
    padding-right: 10px;
  }
  .powerful-api {
    margin-top: 10px;
  }
  .column-3 {
    padding-bottom: 10px;
  }
  .enterprise-pricing {
    height: auto;
    margin-top: -16px;
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .enterprise-pricing-btn {
    margin-right: 0px;
  }
  .pricing-title {
    margin-left: 0px;
  }
  .text-enterprise {
    margin-top: 16px;
    margin-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .tabs-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pro-pricing {
    width: 100%;
    height: auto;
    padding: 16px;
  }
  .price {
    margin-top: 16px;
  }
  .pricing-text {
    margin-bottom: 24px;
  }
  .pricing-content {
    height: 160px;
  }
  .pricing-upper {
    margin-top: 0px;
  }
  .pro-pricing-btn {
    margin-bottom: 0px;
  }
  .more-gh-text-2 {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .cta-text-div-block {
    width: 100%;
    margin-top: 40px;
    margin-left: 1px;
  }
  .open-source-reverse {
    margin-top: 10px;
  }
  .code-reviews-reverse {
    margin-top: 64px;
  }
}

@font-face {
  font-family: 'Arcamajora3';
  src: url('../fonts/ArcaMajora3-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}